@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Spartan', sans-serif;
}

    nav {
        background-color: #cfcece;
        color: #fff;
        padding: 10px 0;
        display: flex;
        margin: 0 auto;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        margin: 10px;
    }

.left-menu,
.right-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.left-menu li,
.right-menu li {
  margin-right: 20px;
}

  
    .logo-container {
        display: inline-block;
    }
    
    .logo-img {
        height: auto;
        align-self: center;
    }

    