.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5bdbd;
  color: black;
  padding: 10px;
}

.menu-container {
  display: flex;
}

.menu-left,
.menu-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-left li,
.menu-right li {
  padding: 0 15px; /* Adjust spacing between menu items */
}

.menu-left li a,
.menu-right li a {
  color: black; /* Set the color of the menu options */
  text-decoration: none; /* Remove the underline */
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 160px; /* Adjust the distance from the left */
}


@media (min-width: 769px) {
  .menu {
    display: none; /* Hide the vertically stacked menu items */
  }
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menu {
    position: fixed;
    top: -8px; /* Adjust to match the height of your navbar */
    bottom: 0;
    right: 0;
    width: 45%;
    height: 100vh; /* Make the menu fill the viewport height */
    background-color: #333;
    color: #fff;
    display: none;
    z-index: 999;
    list-style-type: none;
    padding-left: 0;
  }

  .hamburger {
    position: absolute;
    top: 60px;
    right: 20px;
  }

  .menu li {
    padding: 20px;
  }

  .menu li a {
    color: #fff;
    text-decoration: none;
  }

  .menu.show {
    display: block;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #c5bdbd;
  height: 30px;
  position: relative; /* Ensure relative positioning for the footer */
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icons img {
  max-width: 60px;
  height: auto;
  }

  .copyright {
    /* No absolute positioning */
    margin-left: auto; /* Push copyright to the right */
    margin-right: auto; /* Center copyright */
  }

.address {
  text-align: right;
}

@media (max-width: 768px) {
footer {
    padding: 20px; /* Adjust padding for smaller screens */
}

.social-icons {
  flex: 1; /* Social icons take up equal space */
  justify-content: flex-start; /* Align social icons to the left */
}

.address {
  display: block;
  text-align: right; /* Align address to the right */
}

.copyright {
  display: none;
}
}