.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Choose your desired background color */
    padding: 10px 20px; /* Adjust padding as needed */
    color: white; /* Choose your desired text color */
}

.navbar__left,
.navbar__right {
    display: flex;
}

.navbar__left a,
.navbar__right a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline from links */
    margin-right: 20px; /* Adjust spacing between links */
}

.navbar__logo {
    flex: 1; /* Make the logo section take up remaining space */
    display: flex;
    justify-content: center; /* Center the logo horizontally */
}

.navbar__logo img {
    max-height: 40px; /* Adjust logo size as needed */
}

@media (min-width: 768px) {
    .navbar__logo {
        flex: initial; /* Reset flex property */
    }
}

.footer {
    text-align: center;
    height: 100px;
    background-color: #333; /* Choose your desired background color */
    padding: 20px; /* Adjust padding as needed */
    color: white; /* Choose your desired text color */
}
